/* TextArea styling to match LightTheme */
#helpMessage {
    -fx-font-family: "monospace";
    -fx-font-size: 12pt;
    -fx-text-fill: #222222;
}

#helpMessage .content {
    -fx-background-color: #ffffff;
}

/* Fixed ScrollPane style to match LightTheme of MainWindow */
.scroll-pane {
    -fx-background-color: #f0f0f0;
    -fx-border-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: #ffffff;
}

/* Fix Root background to match LightTheme */
.root {
    -fx-background-color: #f0f0f0;
}

/* Fix copy button styling to match LightTheme */
#copyButton {
    -fx-text-fill: #333333;
    -fx-background-color: #e0e0e0;
}

#copyButton:hover {
    -fx-background-color: #cccccc;
}

#copyButton:armed {
    -fx-background-color: #b0b0b0;
}
